{% extends "template.twig" %}
{% block title %}
{% set title = 'Accueil' %} 
{{ title }}
{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block body %}
{% if _flash.getFlashMessage('stop') %}
    <div class="alert alert-success mt-4" role="alert">
        <p>{{ _flash.getFlashMessage('stop') }}</p>
    </div>
{% endif %}
<header>
    <ul class="navbar navbar-dark bg-primary d-flex justify-content-around" >  
        <li class="nav-item list-inline-item">
        <a class="navbar-brand" href="/blog/">Accueil</a></li>
        <li class="nav-item list-inline-item">
        <a class="navbar-brand" href="/blog/posts/1">Posts</a></li>
        <li class="nav-item list-inline-item">
        <a class="navbar-brand" href="/blog/registration">Inscription</a></li>
    </ul>
</header>
<article class="card">
    <section class="" style="margin-left: auto; margin-right: auto;">
        <img style="height: 300px;" src="Public/photomoi.jpg">
    </section>
    <section class="card-body card-text text-center">
        <h4>Bonjour et bienvenue sur mon blog professionel, je suis Thomas DA SILVA et je suis le dévelloppeur qu'il vous faut.</h4>
        <h4>C'est mon tout premier blog et je vais vous presenter mes differents projets, articles et des nouvautées.</h4>
        <h4>Je suis occupé à faire une formation openclassroom.</h4>
    </section>
</article>
<div class="mx-4 px-4 py-4 border border-primary">
    <p class="group">Formulaire de contact</p>
    <form action="treatment.php" method="post">
        <div class="form-group">
            <label>Nom </label>
            <input type="text" name="nom" class="form-control"></br>
        </div>
        <div class="form-group">
            <label>Prénom </label> 
            <input type="text" name="prenom" class="form-control"></br>
        </div>
        <div class="form-group">
            <label>Email </label>
            <input type="text" name="email" class="form-control"></br>
        </div>
        <div class="form-group">
            <label>Message </label> 
            <input type="text" name="message" class="form-control"></br>
        </div>
        <input type="submit" value="Envoyé" class="btn btn-primary ">
    </form>
</div>
<footer class="text-white bg-primary mt-3 card-group">
    <div class="card-body">
        <p>Bienvenue sur mon blog professionel, vous pouvez voir nos posts <a class="text-success" href="/blog/posts/1">ici</a></p>
    </div>
    <div class="card-body">
        <div>
            <script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
            <script type="IN/Share" data-url="linkedin.com/in/thomas-da-silva-seabra"></script>
        </div>
        <div>
            <a class="text-success" href="Public/CVtype.pdf.zip">Mon CV est disponible ici!</a>
        </div>
    </div> 
    <div class="card-body">     
        <a class="text-success" href="/blog/connect">Connexion</a>
    </div>
</footer>
{% endblock %}