{% extends "template.twig" %}
{% block title %}
{% set title = 'Inscription' %} 
{{ title }}
{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block body %} 
    {% if _flash.getFlashMessage('stop') %}
    <div class="alert alert-success mt-4" role="alert">
        <p>{{ _flash.getFlashMessage('stop') }}</p>
    </div>
    {% endif %}
    <header>
        <ul class="navbar navbar-dark bg-primary">  
            <li class="nav-item list-inline-item">
            <a class="navbar-brand" href="/blog/">Accueil</a></li>
            <li class="nav-item list-inline-item">
            <a class="navbar-brand" href="/blog/posts">Posts</a></li>
            <li class="nav-item list-inline-item">
            <a class="navbar-brand" href="/blog/connect">Connexion</a></li>
        </ul>    
    </header>
    <p>inscription</p>
    <form class="" action="/blog/register" method="POST" style="margin-top: 50px; width: 400px;">
        <div class="form-group">
            <label>Pseudo : </label>
            <input type="text" name="pseudo" class="form-control" ></br>
        </div>
        <div class="form-group">
            <label>Password : </label>
            <input type="password" name="motdepasse" class="form-control"></br>
        </div>
        <div class="form-group">
            <label>Password confirmed: </label>
            <input type="password" name="motdepasseconfirmer" class="form-control"></br>
        </div>
        <input type="submit" name="checkuser" value="S'inscrire" class="btn btn-primary">
    </form>
    <footer class="text-white bg-primary mb-3 card-group">
        <div class="card-body">
            <p>Bienvenue sur mon blog professionel, vous pouvez visiter nos posts <a class="text-danger" href="/blog/posts">ici</a></p>
        </div>
        <div class="card-body">
            <div>
                <script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
                <script type="IN/Share" data-url="linkedin.com/in/thomas-da-silva-seabra"></script>
            </div>
            <div>
                <a class="text-danger" href="Public/CVtype.png">Mon CV est disponible ici!</a>
            </div>
        </div> 
        <div class="card-body">     
        <a class="text-danger" href="/blog/connect">Connexion</a>
        </div>
    </footer>
{% endblock %}
