<!DOCTYPE html>
<html lang="fr">
    <head>
    {% block head %}
        <meta charset="utf-8" />
        <title>{% block title %} {{ title }} {% endblock %} </title>
        <link type="text/css" rel="stylesheet" href="Public/bootstrap.css"  /> 
        
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      {% endblock %}
    </head>
        
    <body>
    {% block body %}
    
  {% endblock %}
        
    </body>
</html>