{% extends "template.twig" %}
{% block title %}
{% set title = 'Ajout Post' %} 
{{ title }}
{% endblock %}
{% block head %}
    {{ parent() }}
    
{% endblock %}
{% block body %}
<header>
            <ul class="" >  
                <li><a href="index.php?action=manaPost">Posts</a></li>
                <li><a href="index.php?action=m">Commentaires</a></li>
                <li><a href="index.php?action=AfficherConnexion">Déconnexion</a></li>
                
            </ul>
            
            
        </header>
<p>creation post</p>
<form class="formcom" action="/blog/postadd" method="post" style="margin-top: 100px;">
            <div>
                <label for="title">titre</label><br />
                <input type="text" id="title" name="title" />
            </div>
            <div>
                <label for="content">content</label><br />
                <textarea id="content" name="content"></textarea>
            </div>
            <input type="hidden" name="utilisateurId" id="" value="{{ uty.id }}" />
            <div>
                <input type="submit" />
            </div>
        </form>
        

{% endblock %} 
